<section class="disney">
  <div class="grid-container">
    <div class="content-area grid-x">
      <div class="mickey-image cell medium-7"></div>
      <div class="text-area cell medium-5 grid-x">
        <div class="cell logo-container">
          <img src="/img/wdas-logo.svg" alt="Walt Disney Animation Studios Logo">
        </div>
        <div class="cell">
          <!-- TODO new text here -->
          <p>I joined the team at Walt Disney Animation Studios and location-arrow Moved to Los Angeles, CA FIX THE COPY</p>
          <p>Working on all sorts of wonderful tools that the artists and animators use everyday to bring these films to life. Explore the credits you may just start to see a familiar name :) .... something something creating magic!</p>
        </div>
      </div>
    </div>
  </div>
</section>