<section class="farewell">
  <div class="grid-container">
    <div class="content-area grid-x">

      <img src="/img/bite-marks3.svg" alt="bite mark" class="bite-marks">
      <img src="/img/chocolate-bits.svg" alt="chocolate bits" class="chocolate-bits">
      <div class="golden-ticket">
        golden ticket
      </div>
      <div class="chocolate-wrapper cell small-12 medium-10 grid-x">
        <div class="wrapper-edge">
          <img src="/img/wrapper-edge.svg" alt="The silver metallic edge of a chocolate wrapper">
        </div>
        <div class="intro-copy cell medium-10">
          <h2>
            Farewell
            <span>Pittsburgh since 2012</span>
          </h2>
          <p>This year I said goodbye to Pittsburgh and the world of healthcare. During the last 10 year in Pittsburgh and last 4 in healthcare, I have learned a whole lot along the way.</p>
        </div>
        <div class="big-wins cell grid-x">
          <div class="cell shrink">
            <img class="badge-sticker" src="/img/badge.svg" alt="A yellow badge with a trophy icon and text that says Big Wins 2018 - 2022 at UPMC Enterprises">
          </div>
          <div class="cell auto grid-x win-list">
            <div class="cell small-6 grid-x align-middle grid-padding-x">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <div class="cell auto">
                Elevated the UX maturity of the organization
              </div>
            </div>
            <div class="cell small-6 grid-x align-middle grid-padding-x">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <div class="cell auto">
                Brought consumer sensibilities to enterprise software
              </div>
            </div>
            <div class="cell small-6 grid-x align-middle grid-padding-x">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <div class="cell auto">
                Grew the design organization and its services
              </div>
            </div>
            <div class="cell small-6 grid-x align-middle grid-padding-x">
              <div class="icon-wrapper cell shrink grid-x align-center align-middle">
                <div class="cell shrink">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <div class="cell auto">
                Shipped life-changing technology
              </div>
            </div>



          </div>
        </div>
        <div class="bar-footer cell grid-x align-justify">
          <div class="cell shrink">
            Milk Chocolate
          </div>
          <div class="cell shrink details">
            Net Time 4yrs <span class="edition">Enterprise Edition</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>