<footer class="content--canvas" id="footer-dim">
  <div class="grid-x grid-container align-justify no-select text-section">
    <div class="cell medium-shrink">
        <h2><span>twenty</span> <span>twenty two</span></h2>
        <p>here we come</p>
    </div>
    <div class="cell medium-shrink align-self-bottom">
      <div class="logo">
        <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
          {% capture location %}footer{% endcapture %}
          {% include rehan-logo.svg %}
        </a>
      </div>
    </div>
  </div>
</footer>
