<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JDY0P6VJ5H"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JDY0P6VJ5H');
</script>

<!-- <script src="/js/foundation.js" type="text/javascript"></script> -->
<script src="/js/app.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/movie.js"></script>

<!-- For Magneto header animation -->
<script src="js/magneto/charming.min.js"></script>
<script src="js/magneto/anime.min.js"></script>
<script src="js/magneto/demo.js"></script>
<script src="js/magneto/demo1.js"></script>

<!-- For Swirl Animation -->
<script src="js/swirl/swirl.js"></script>
<script src="js/swirl/noise.min.js"></script>
<script src="js/swirl/util.js"></script>
