<section class="github">
  <div class="grid-container box-grid">
    <div class="intro tile grid-x">
      <div class="cell">
        {%- include external-link.html link="https://github.com/naher94" content="<img src='/img/gitcat.svg' alt='Github's Logo'>" -%}
      </div>
      <div class="cell align-self-bottom">
        <h2><span>my</span> github analytics</h2>
      </div>
    </div>
    <div class="commits tile code-stat grid-x align-bottom">
      <div class="cell">
        <p class="number">47%</p>
        <p>commits</p>
      </div>
    </div>
    <div class="code-reviews tile code-stat code-stat-small grid-x align-bottom">
      <div class="cell">
        <p class="number">1%</p>
        <p>code reviews</p>
      </div>
    </div>
    <div class="contributions">
      <p class="data-of">*github stats<span>as of Dec 14, 2021</span></p>
      <h3><span>985</span> contributions</h3>
    </div>
    <div class="issues tile code-stat code-stat-small grid-x align-bottom">
      <div class="cell">
        <p class="number">32%</p>
        <p>issues</p>
      </div>
    </div>
    <div class="pull-requests tile code-stat grid-x align-bottom">
      <div class="cell">
        <p class="number">20%</p>
        <p>pull requests</p>
      </div>
    </div>
    <div class="first-update tile grid-y align-justify">
      <div class="cell">
          <h3>First update of the year</h3>
        <div class="commit-change">
          <span class="plus">+14</span><span class="minus">-1</span>
        </div>
      </div>
      <div class="details cell align-self-bottom">
        <div class="grid-x link-wrapper">
          {% include external-link.html css-class="grid-x cell shrink" link="https://github.com/naher94/rehanbutt.com/pull/376" content="
          <div class='metadata grid-x cell shrink align-middle'>
            <img class='cell shrink' src='/img/merge.svg' alt='code merge icon'>
            <p class='cell shrink'>#376</p>
          </div>" %}
        </div>
        <p>resources added to rehanbutt.com</p>
      </div>
    </div>
    <div class="top-lang-header">
      <h3><span>top<img src="/img/top-arrow.svg" alt="Up Arrow"></span> languages</h3>
    </div>
    <div class="top-lang lang-scss tile">
      <p>scss</p>
    </div>
    <div class="top-lang lang-js tile">
      <p>js</p>
    </div>
    <div class="top-lang lang-html tile">
      <p>html</p>
    </div>
    <div class="top-repo tile grid-x align-justify align-bottom">
      <div class="cell medium-6">
        <h3><span>top</span> repository contributions</h3>
      </div>
      <div class="repo-list cell medium-shrink">
        <div class="link-wrapper">
          {% include external-link.html link="https://github.com/naher94/rehanbutt.com" content="naher94/rehanbutt.com" %}
        </div>
        <div class="link-wrapper">
          {% include external-link.html link="https://github.com/shineregistry" content="shineregistry/● ● ● ● ●" %}
        </div>
        <div class="link-wrapper">
          {% include external-link.html link="https://github.com/naher94/DMA331" content="naher94/DMA331" %}
        </div>
        <div class="link-wrapper">
          {% include external-link.html link="https://github.com/naher94/2021.rehanbutt.com" content="naher94/2021.rehanbutt.com" %}
        </div>
      </div>
    </div>
  </div>
</section>