<header class="year-in-review">
  <div class="grid-x grid-container">
    <div class="grid-x cell align-justify">
      <div class="cell shrink number">
        2021
      </div>
      <div class="logo cell shrink">
        <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
          {% capture location %}header{% endcapture %}
          {% include rehan-logo.svg %}
        </a>
      </div>
    </div>
    <div class="cell twenty-one-container">
      <h1><span class="word word--magneto">twenty</span><span class="word word--magneto">twenty one</span></h1>
      <h2>Year in Review</h2>
    </div>
  </div>
</header>
