<section class="joined grid-container">
  <div class="grid-x">
    <div class="spoken grid-x grid-margin-x">
      <div class="cell medium-6 adplist grid-x">
        <!-- TODO figure out why this image container is not wrapping the adp logo like it is with the duq one.. check the vertical sizing only seems to be an issue on tablet-->
        <div class="cell image-container">
          <img class="adplist-img" src="/img/adplist.svg" alt="ADPList Logo">
        </div>
        <div class="cell grid-x">
          <div class="cell">
            <p class="title">Joined ADPList as a mentor</p>
            <p class="description">Joined the Amazing Design People List community. Sharing my design story and meeting other designers and technologists along the way.</p>
          </div>
          <div class="cell align-self-bottom">
            {%- include external-link.html link="https://adplist.org/mentors/rehan-butt" content="<div class='explore-button'>Book a Session</div>"-%}
          </div>
        </div>
      </div>
      <div class="cell medium-6 duq grid-x">
        <div class="cell image-container">
          <img src="/img/duq.svg" alt="Duquesne University Logo">
        </div>
        <div class="cell grid-x">
          <div class="cell">
            <p class="title">Became adjunct faculty at Duquesne University</p>
            <p class="description">Taught Web & Mobile Design, a course where students use principles of visual and interaction design to create some awesome web and mobile experiences.
            </p>
          </div>
          <div class="cell align-self-bottom">
            {%- include external-link.html link="https://dma331.rehanbutt.com" content="<div class='explore-button'>Explore the Course</div>"-%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
