<section class="lastly">
  <div class="grid-container">
    <div class="grid-x">
      <div class="card cell grid-x">
        <div class="cell color-field grid-x">
          <div class="cell shrink">
            <span class="and">&</span>
          </div>
          <div class="cell auto align-center grid-y">
            <div class="cell">
              <h2>as another year comes to an end</h2>
            </div>
          </div>
          <h3>let's continue making, building and creating awesome things! Have fun, play with ideas and don't forget to explore one or two new things next year!</h3>
        </div>
        <div class="cell tweet-wrapper">
          <p>Enjoyed this year in review? Share it!</p>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Check out this awesome year in review!" data-url="https://2021.rehanbutt.com" data-via="naher94" data-hashtags="yearInReview " data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>
  </div>
</section>
