<section class="lastly">
  <div class="grid-container">
    <div class="grid-x">
      <div class="card cell grid-x">
        <div class="cell color-field grid-x">
          <div class="cell auto align-center grid-y">
            <div class="cell">
              <h2>as another year comes to an end</h2>
            </div>
          </div>
          <h3>let's continue making, building and creating awesome things! Have fun, play with ideas and don't forget to explore one or two new things next year!</h3>
        </div>
        <div class="grid-x cell polaroid-chin align-justify">
          <div class="cell shrink hidden-mickey">
            <p class="question">Did you find all the hidden Mickey's on the page?</p>
            <p>There are 10. Happy hunting!</p>
          </div>
          <div class="grid-x cell shrink share-area">
            <div class="cell shrink">
              <p class="enjoyed">Enjoyed my year in review?</p>
              <p>Share it with your network.</p>
            </div>
            <div class="cell shrink">
              <a href="https://twitter.com/intent/tweet?text=Check%20out%20%40naher94%20awesome%20year%20in%20review!&amp;url={{ site.url }}/" class="twitter">
                <div class="share-item">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
