<section class="music grid-container">
  <div class="grid-x">
    <div class="cell medium-6 music-container grid-x">
      <div class="cell">
        <h2>564<span class="hrs">hrs</span> <span class="description">of music listened to</span></h2>
        <h3>Top 5 most played songs</h3>
      </div>
      <div class="song-container cell grid-x align-center">
        {% assign songs_order = site.songs | sort: 'play-count' | reverse %}
          {%- for song in songs_order -%}
          {% capture song-card %}
            <img src="img/{{song.album-cover}}" alt="Dance Dance Dance Album Cover" class="small-3">
            <div class="text-container cell auto grid-x">
              <div class="cell grid-x align-middle">
                <div class="cell auto">
                  <p class="title">{{song.song-name}} <i class="fa-solid fa-arrow-up-right-from-square"></i></p>
                  <p class="artist">{{song.artist}}</p>
                  <p class="play-count">{{song.play-count}} plays</p>
                </div>
              </div>
            </div>
          {% endcapture %}
          <div class="song-tile cell small-12 grid-x">
            {%- include external-link.html link=song.link content=song-card css-class="grid-x cell" -%}
          </div>
        {%- endfor -%}

      </div>
    </div>
  </div>
</section>
