<section class="photo grid-container">
  <div class="grid-x cell content-card">
    <div class="horizontal-scroll-section">
      <div class="scene">
        <div class="horizontal-scroll-section__content-wrapper wrapper">
          <div class="horizontal-scroll-section__content-section">
          </div>
          <div class="horizontal-scroll-section__content-section departing">
            <div class="film now-departing grid-x cell align-middle">
              <div class="grid-x cell align-center">
                <div class="cell title-text">
                  <i class="fas fa-plane-departure"></i>
                  <h2>Now Departing</h2>
                </div>
                <div class="cell grid-x flipboard grid-margin-x grid-margin-y">
                  <div class="cell small-6 flip-item">
                    <p class="flip-label">to</p>
                    <p class="flip-value">photo city</p>
                  </div>
                  <div class="cell small-6 flip-item">
                    <p class="flip-label">flight</p>
                    <p class="flip-value">AZ 0907</p>
                  </div>
                  <div class="cell small-4 flip-item">
                    <p class="flip-label">time</p>
                    <p class="flip-value">10:45</p>
                  </div>
                  <div class="cell small-4 flip-item">
                    <p class="flip-label">gate</p>
                    <p class="flip-value">r16</p>
                  </div>
                  <div class="cell small-4 flip-item">
                    <p class="flip-label">remark</p>
                    <p class="flip-value">on time</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
            <div class="film rewatch grid-x cell align-center align-middle">
              <div class="cell shrink">
                .rewatch cell
              </div>
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
            <div class="film infinity-saga grid-x align-middle align-center">
              <div class="cell grid-x align-center">
                .infinity-saga cell
              </div>
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
            <div class="film first-watched grid-x">
              .first-watched cell
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
            <div class="film grid-x busy-day">
              .busy-day cell
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
            <div class="film grid-y day-week">
              .day-week cell
            </div>
          </div>
          <div class="horizontal-scroll-section__content-section">
            <div class="film end-card grid-x align-middle align-center">
              .end-card cell
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>