<section class="shine-registry grid-container">
  <div class="grid-x">
    <div class="cell shine-container grid-x">
      <div class="label-container grid-y cell medium-5">
        <div class="cell shrink">
          <img class="ship-icon" src="../img/ship-it.svg" alt="Ship it boat">
        </div>
        <div class="cell description">
          Helped ship the next major release of {%- include external-link.html link="https://shineregistry.com" content="<span>Shine Registry</span>" -%}
        </div>
      </div>
      <div class="image-container shine-1">
        <img src="../img/shine-desktop.png" alt="Shine Registry Home Page">
      </div>
      <div class="image-container shine-2">
        <img src="../img/shine-shaveice.png" alt="Honu Shave Ice Registry Page">
      </div>
      <div class="blue-blob">
        <img src="../img/blue-blob.svg" alt="Blue Blob">
      </div>
      <div class="peach-blob">
        <img src="../img/peach-blob.svg" alt="Peach Blob">
      </div>
      <div class="brick-blob">
        <img src="../img/brick-blob.svg" alt="Brick Blob">
      </div>
    </div>
  </div>
</section>
