<section class="website grid-container">
  <div class="grid-margin-x grid-margin-y grid-x">
    <div class="elderberry-card cell">
      <img class="elderflower" src="/img/elderflower.png" alt="Elderflower stalks">
      <img class="elderflower-right" src="/img/elderflower-right.png" alt="Elderflower">
      <img class="elderflower-left" src="/img/elderflower-left.png" alt="Elderflower">
      <img class="rocket-icon" src="/img/rocket.svg" alt="Rocket Icon">
      <h2>Elderberry</h2>
      <h3>Launched v5 of rehanbutt.com</h3>
      <div class="grid-x align-center icon-wrapper">
        <div class="grid-x cell grid-margin-x grid-margin-y large-8">
          <div class="cell small-6 medium-3 feature-icon-container grid-x align-middle">
            <div class="cell">
              <i class="fas fa-home fa-2x" title="Home Page"></i>
            </div>
          </div>
          <div class="cell small-6 medium-3 feature-icon-container grid-x align-middle">
            <div class="cell">
              <i class="fas fa-user fa-2x" title="Home Page"></i>
            </div>
          </div>
          <div class="cell small-6 medium-3 feature-icon-container grid-x align-middle">
            <div class="cell">
              <i class="fas fa-archive fa-2x" title="Home Page"></i>
            </div>
          </div>
          <div class="cell small-6 medium-3 feature-icon-container grid-x align-middle">
            <div class="cell">
              <i class="fas fa-mask fa-2x" title="Home Page"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-sweet-home cell grid-x">
      <div class="content cell">
        <h2>Home Sweet Home</h2>
        <h3>A new front door to the site with a friendly welcome and hello!</h3>
      </div>
      <img class="living-room" src="/img/living-room.png" alt="Living Room Illustration">
    </div>
    <div class="cell grid-x grid-margin-x tile-wrapper">
      <div class="cell grid-x medium-6 grid-margin-y">
        <div class="cell bio">
          <div class="square-tile">
            <i class="fas fa-user"></i>
            <h2>Updated Bio</h2>
            <p>more about me with a couple of easter eggs hidden in the bio</p>
          </div>
        </div>
        <div class="cell speed grid-x align-middle align-center">
          <div class="cell">
            <div class="square-tile">
              <img src="../img/speedometer.svg" alt="Speedometer Icon">
              <span>Improved speed and code optimizations</span>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-6 filed-away grid-x">
        <div class="cell">
          <h2>Filed Away</h2>
          <p>Archived away a bunch of old projects to make some room for the new and exciting!</p>
        </div>
        <div class="cell align-self-bottom">
          <div class="cabinet">
            <div class="drawer">
              <div class="wrapper">
                <label>archive</label>
                <div class="handle"></div>
              </div>
              <div class="files"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cell hero-card grid-x">
      <div class="cell large-5 text-content grid-x">
        <div class="cell">
          <h3>Project Heroes</h3>
          <p class="description">Added a new splash of branding to several projects with project heroes!</p>
        </div>
        <div class="cell align-self-bottom">
          <p class="easter-egg">These heroes don't wear capes!
            <img src="/img/no-capes.gif" alt="Edna Mode's no capes!">
          </p>
        </div>
      </div>
      <div class="cell large-7 image-wrapper">
        <img src="/img/project-heroes2.png" alt="Project Heroes">
      </div>
    </div>
  </div>
</section>
