.disney{
  margin-top: 2rem;
  color: $pure-white;
  .content-area{
    background: linear-gradient(to bottom right, #21195B 0%, #73467F 100%);
    border-radius: $tile-radius-medium;
    overflow: hidden;
    position: relative;
    &::before{
      content: "";
      background-image: url(/img/disney-skyline.svg);
      background-repeat: no-repeat;
      background-position: bottom right;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.15;
    }
    .text-area{
      z-index: 1;
      padding-right: 4rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      p{
        padding: 0;
        margin: 0;
      }
      .logo-container{
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }
  .mickey-image{
    background-image: url(/img/atthehat.jpg);
    // background-size: cover;
    // background-position: center;

    background-size: 110%;
    background-position: center bottom;

    background-repeat: no-repeat;

    mask-image: url(/img/mickey-mask.svg);
    mask-size: 110%;
    mask-repeat: no-repeat;
    mask-position: -5rem, center;

    -webkit-mask-image: url(/img/mickey-mask.svg);
    -webkit-mask-size: 110%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: -5rem, center;
  }
}