.farewell{
  margin-top: 2rem;
  .content-area{
    border-radius: $tile-radius-medium;
    background: url(/img/chocolate-square2.svg) round #994813;
    background-size: 10%;
    color: $pure-black;
    position: relative;
    .bite-marks{
      position: absolute;
      top: -1em;
      right: -1em;
      width: 14em;
    }
    .chocolate-bits{
      position: absolute;
      top: -2em;
      right: -2em;
      width: 12em;
    }
    .golden-ticket{
      position: absolute;
      background: url(../img/chocolate-wrapper.jpg);
      background-size: cover;
      width: 75%;
      padding: 5em;
      border-radius: $tile-radius-medium;
      margin-left: 1em;
      margin-top: 8em;
      transform: rotate(3deg);
      transition: $run;
      &:hover{
        transform: rotate(-2deg) translate(6em, -3em) scale(1.2);
        transition: $run;
        box-shadow: $recessed-shadow;
      }
      &:hover + .chocolate-wrapper{
        transition: $run;
        opacity: 0;
        transform: translate(-20em);
      }
      .text-line{
        border-radius: $pill-radius;
        background-color: black;
        height: 0.25em;
      }
      .line-text{
        padding-left: 2em;
        padding-right: 1em;
        margin: 0;
        font-family: $big-shoulders;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1em;
      }
      .main-title{
        font-size: 6em;
        line-height: 1;
        text-align: center;
        padding: 0;
        margin: 0;
        font-family: $big-shoulders;
        margin-bottom: 0.25em;
        margin-top: 0.25em;
      }
      .main-text{
        text-align: center;
        p{
          padding: 0;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
    }
    .chocolate-wrapper{
      border-radius: $tile-radius-medium 0 0 $tile-radius-medium;
      // background-color: #FBBC17;
      background: url(../img/chocolate-wrapper.jpg);
      background-size: cover;
      position: relative;
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
      transition: $run;
      .wrapper-edge{
        position: absolute;
        right: -0.5em;
        z-index: 1;
        top: -5%;
        height: 105%;
        transform: rotate(-3deg);
        img{
          height: 105%;
        }
      }
      .intro-copy{
        padding: 2em;
        h2{
          font-family: $caveat;
          font-weight: $caveat-bold;
          font-size: 10em;
          line-height: 1;
          position: relative;
          display: inline-block;
          span{
            font-size: 0.15em;
            font-weight: $caveat-regular;
            text-transform: uppercase;
            position: absolute;
            left: 0;
            right: 0;
            top: 1em;
            text-align: center;
            letter-spacing: 0.10em;
            padding-inline-start: 3em;
          }
        }
        p{
          font-size: 1.25em;
          padding: 0;
          margin: 0;
        }
      }
      .big-wins{
        margin-block-end: 2rem;
        .badge-sticker{
          width: 12em;
          transform: translate(-2em) rotate(-15deg);
        }
        .icon-wrapper{
          aspect-ratio: 1/1;
          border-radius: $pill-radius;
          background-color: #FFCD1D;
          border: 2px solid rgba($pure-black,0.075);
          width: 3em;
          text-align: center;
        }
        .win-list{
          .win-words{
            // font-size: 0.8em;
          }
        }
      }
      .bar-footer{
        font-family: $big-shoulders;
        border-radius: 0 0 0 $tile-radius-medium;
        background-color: rgba($pure-white,0.50);
        padding: 1em 2em;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        font-weight: $big-shoulders-black;
        .details{
          // text-transform: uppercase;
          font-weight: $big-shoulders-regular;
          margin-inline-start: 0.25em;
          .edition{
            // font-weight: $big-shoulders-black;
            // margin-inline-start: 0.5em;
          }
        }
      }
    }
  }
}