header{
  padding-bottom: 4em;
  padding-top: 3em;
  background: linear-gradient(120deg, #FBAA1D 0%, #FDD53E 100%);
  position: relative;
  @media (prefers-color-scheme: dark) {
    background: linear-gradient(120deg, #b87a10 0%, #c2a12b 100%);
  }
  .number{
    font-family: $zilla;
    font-weight: $zilla-bold;
    font-size: 5.8rem;
    line-height: 0.4;
    @include breakpoint(small only){
      font-size: 3.5rem;
    }
  }
  .twenty-one-container{
    margin-top: 4em;
    font-family: $zilla;
    color: semantic-color(text-color);
    h1{
      font-weight: $zilla-medium;
      font-size: 9rem;
      @include breakpoint(medium only){
        font-size: 8rem;
      }
      @include breakpoint(small only){
        font-size: 4rem;
      }
    }
    h2{
      position: absolute;
      margin-top: 1.1rem;
      font-weight: $zilla-light;
      font-size: 5rem;
      font-style: italic;
      letter-spacing: 2rem;
      @include breakpoint(medium only){
        font-size: 3rem;
        letter-spacing: 1.5rem;
        margin-top: 2.5rem;
      }
      @include breakpoint(small only){
        font-size: 2rem;
        letter-spacing: 0.5rem;
        margin-top: 2.4rem;
      }
    }
  }
  .logo{
    #rehan-logo-header{
      height: 50px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:semantic-color(logo-header); //Changes the color of my logo inline
      }
      @include breakpoint(small only){
        height: 30px;
      }
    }
  }
}