.lastly{
  margin-top: 2rem;
  @include breakpoint(small only){
    font-size: 0.5em;
  }
  .card{
    // background: semantic-color(lastly-card-bg);
    background-color: #F3F3F3;
    border-radius: $tile-radius-big;
    margin-bottom: 0;
    $card-padding: 2rem;
    $card-padding-mobile: 1rem;
    @include breakpoint(small only){
      padding: $card-padding-mobile;
    }
    padding: $card-padding;
    color: $navy-black;
    border: none;
    .color-field{
      background: radial-gradient(circle at 0 0, #BC2649, #8D1934);
      padding: 3em;
      border-radius: abs(toRem($tile-radius-big)-$card-padding);
      @include breakpoint(small only){
        border-radius: abs(toRem($tile-radius-big)-$card-padding-mobile);
      }
    }
    h2{
      font-family: $big-shoulders;
      font-weight: $big-shoulders-black;
      font-size: 5em;
      color: $pure-white;
    }
    h3{
      font-family: $lato;
      line-height: 1.2;
      font-size: 2em;
      color: $pure-white;
    }
    .polaroid-chin{
      padding-top: $card-padding;
      .hidden-mickey{
        font-family: $lato;
        font-size: 1.5rem;
        .question{
          font-weight: $lato-bold;
        }
      }
      p{
        padding: 0;
        margin: 0;
        margin-bottom: 0;
        line-height: 1.2;
      }
    }
    .share-area{
      font-family: $zilla;
      color: semantic-color(text);
      .words{
        margin-inline-end: 0.5rem;
      }
      .enjoyed{
        font-weight: $zilla-bold;
      }
      a{
        color: semantic-color(text);
        &:hover{
          .share-item{
            background-color: rgba($navy-black, 0.10);
          }
        }
        .share-item{
          aspect-ratio: 1/1;
          padding: 0.75em;
          border-radius: $pill-radius;
          text-align: center;
          transition: $sprint;
          i{
            font-size: 1.3em;
            vertical-align: text-top;
          }
        }
      }
    }
  }
}