.word--magneto > span {
	cursor: default;
	position: relative;
}

.word--magneto span span {
	display: block;
	pointer-events: none;
}

.word--magneto svg {
	position: absolute;
	left: 50%;
	margin-left: -1.5vw;
	width: 3vw;
	bottom: calc(100% - 1em);
}

.word--magneto svg circle {
	fill: currentColor;
	opacity: 0;
	transform-origin: 50% 50%;
}

.word {
	display: flex;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}