.movies{
  margin-top: 2rem;
  .content-area{
    border-radius: $tile-radius-medium;
    background-color: $pure-black;
    color: $pure-white;
    font-family: $big-shoulders;
    .movie-list{
      h3{
        font-size: 3em;
        font-family: $big-shoulders;
        font-weight: $big-shoulders-black;
        position: relative;
        display: inline-block;
        span{
          font-weight: $big-shoulders-regular;
          transform: rotate(90deg);
          font-size: .5em;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -0.75em;
          padding-inline-start: 0.25em;
        }
      }
      .movie-item{
        .number{
          aspect-ratio: 1/1;
          border-radius: $pill-radius;
          background-color: $pure-white;
          color: $pure-black;
          display: inline-block;
          font-family: $lato;
          font-weight: $lato-black;
          min-width: 1.5em;
          text-align: center;
          margin-right: 0.5em;
          display: flex;
          p{
            margin: 0;
            padding: 0;
            line-height: 1;
          }
        }
        &:nth-last-of-type(2),&:last-of-type {
          .number{
            border: 2px solid $pure-white;
            color: $pure-white;
            background-color: unset;
          }
        }
        .title{
          font-size: 1.5em;
        }
      }
    }
  }
}