body, html {
  overflow-x: hidden;
}

.photo{
  position: relative;
  margin-top: 2rem;
  .content-card{
    background-color: #E9E9E9;
    overflow: hidden;
    border-radius: $tile-radius-medium;
  }
}

.film{
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  background-color: $pure-white;
  min-height: 20em;
  @include breakpoint(small only){
    font-size: 80%;
  }
  &.intro-theme{
    background: linear-gradient(to top right, #ffab00, #6b0067);
    position: relative;
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(to top right, #835800, #490046);
    }
    img{
      position: absolute;
      transform: rotate(10deg);
      max-width: 70%;
      right: 2.5em;
      top: 2em;
    }
  }
  &.now-departing{
    background-color: unset;
    padding: 0;
    .title-text{
      text-align: center;
      margin-bottom: 1em;
      h2{
        font-family: $lato;
        text-transform: uppercase;
        font-weight: $lato-black;
        font-size: 3em;
      }
      i{
        font-size: 2.5em;
      }
    }
    .flipboard{
      p{
        margin: 0;
        padding: 0;
        line-height: 1;
      }
      .flip-item{
        background-color: #1A1A1A;
        padding: 0.5em;
        border-radius: $tile-radius;
        .flip-label{
          color: white;
          text-transform: uppercase;
          margin-bottom: 0.5em;
        }
        .flip-value{
          font-size: 1.5em;
          text-transform: uppercase;
          font-family: $source-code;
          font-weight: $source-code-bold;
        }
      }
    }
  }
  &.rewatch{
    background: linear-gradient(180deg,#D10000,#480000);
  }
  &.infinity-saga{
    background: linear-gradient(-45deg,rgba(#12131F,0.8),rgba(#2C1141,0.8),rgba(#04055D,0.8));
  }
  &.first-watched{
    background: linear-gradient(180deg,#090F1B,#0F3774);
  }
  &.busy-day{
    background: linear-gradient(180deg,#3F0707,#3B0030);
  }
  &.day-week{
    background: linear-gradient(180deg,#00BF8F,#113F4F);
  }
  &.end-card{
    background:radial-gradient(#BF5218,#580510);
  }
}

.trigger {
  position: absolute;
  &--one {
    left: 0;
  }
}

 .scene {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -14vw; //adjust for start position shift
    right: 0;
    &--active {
      position: fixed;
      //TODO figure out how to have overflow hidden for the card. seems to fight with position fixed.
    }
    &--ended {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }

.horizontal-scroll-section {
  position: relative;
  &__content {
    display: flex;
    align-items: center;
    &-wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      position: relative;
    }
    &-section {
      position: relative;
      padding: 2rem;
      min-width: 40rem;
      background: #DEDEDE;
      border: 2px solid #CCCCCC;
      border-radius: 50px;
      margin-right: 1rem;
      margin-left: 1rem;
      &:first-of-type{
        min-width: 20rem;
        background: none;
        border: none;
      }
      @include breakpoint(small only) {
        min-width: 30rem;
        padding: 0.5rem 1rem;
      }
      &:before{
        position: absolute;
        content: '';
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.departing{
  background-color: #232323;
  color: #E0C200;
  border: none;
}