.website{
  margin-top: 2rem;
  .website-wrapper{
    background-color: semantic-color(joined-card-bg);
    border-radius: $tile-radius-medium;
    padding: 2rem;
  }
  .website-content{
    .header-section{
      .mac-buttons{
        margin-inline-end: 1rem;
        div{
          border-radius: $pill-radius;
          border: 1px solid rgba($pure-black, 0.1);
          width: 1em;
          height: 1em;
          margin-inline-end: 0.5rem;
        }
        .close{
          background-color: #FF3B30;
        }
        .minimize{
          background-color: #FFCC00;
        }
        .maximize{
          background-color: #34C759;
        }
      }
      .address-bar{
        background-color: $pure-white;
        border: 1px solid rgba($pure-black, 0.1);
        border-radius: $tile-radius;
        padding: 0.5em 1em;
        font-size: 0.8em;
        .fa-lock{
          margin-inline-end: 0.5em;
        }
        a{
          font-weight: $lato-bold;
          color: $navy-black;
        }
        .mickey-container{
          margin-inline-end: 0.5em;
          .mickey{
            height: 1em;
            margin-bottom: 0.25em;
          }
        }
      }
    }
    .main-area{
      background-color: $pure-white;
      border-radius: $tile-radius;
      border: 1px solid rgba($pure-black, 0.1);
      margin-block-start: 1rem;
      color: #78345C;
      padding: 2em;
      .fig{
        width: 5em;
      }
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-bold;
      }
      p{
        padding: 0;
        margin: 0;
      }
      .card-collection{
        border-radius: $tile-radius;
        background-color: #FFCC00;
        height: 100%;
      }
    }
  }
}